{% extends 'layout.html.twig' %}

{% block title %} Añadir Experiencia | Tenzo Jobs {% endblock %}

{% block content %}
    <div class="content-user">
        <div class="login-screen flex-parent">
            <div class="form-style col-md-6 align-middle box-default p-3">
                <!-- Default form register -->
                {{ form_start(formulario) }}

                <p class="h4 mb-4">Añade una experiencia laboral</p>

                <div class="form-row mb-4">
                    <div class="col">
                        {{ form_widget(formulario.empresa) }}
                    </div>
                    <div class="col">
                        <!-- Ciudad -->
                        {{ form_widget(formulario.ciudad) }}
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                        {{ form_widget(formulario.puesto) }}
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        {{ form_widget(formulario.actividad) }}
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-clipboard-list"></i></span>
                    </div>
                    {{ form_widget(formulario.tareas) }}
                </div>
                <br/>
                <div class="form-row mb-4">
                    <div class="input-group col col-md-6">
                        <label class="col-form-label-sm label">Fecha inicio</label>
                        <!-- Fecha inicio -->
                        {{ form_widget(formulario.fechaInicio) }}
                    </div>
                    <div class="col col-md-6">
                        <label class="col-form-label-sm">Fecha fin</label>
                        <!-- Fecha fin -->
                        {{ form_widget(formulario.fechaFin) }}
                    </div>
                </div>
                <button class="btn btn-info" type="submit">
                    <i class="fas fa-plus"></i>
                    Añadir
                </button>
                <a href="{{ path('inicio') }}" class="btn btn-link">Cancelar</a>
                {{ form_end(formulario) }}
            </div>
            <div class="col-md-6 align-middle mt-5">
            <h5 class="text-center">A tener en cuenta <i class="fas fa-hand-point-down"></i> </h5>
            </div>
        </div>
    </div>
{% endblock %}
